<!--ng-change="allPicks.weekChange()"-->

<label><h5>Choose Week</h5></label>

<select style="color:black" id="week" type="text" 
        ng-model="allPicks.activeWeek" 
        ng-change="allPicks.weekChanged()" placeholder="Choose Week">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
        </select>

<table class="table table-condensed" >
    <thead>
        <td>
            Week
        </td>
        <td>
            GOTW
        </td>
    </thead>
    <tbody>
<tr ng-repeat="picks in allPicks.testing">
    <td>
        <h6>{{picks.week}}</h6>
   </td>
   <td>
        <h6>{{picks.gotw}}</h6>
   </td>
</tr>
    </tbody>
</table>