<style>
.locked {
    font-style: italic;
}    
    
 </style>  
        <label><h5>Choose Week</h5></label>
        <select style="color:black" id="week" type="text" 
                ng-model="allPicks.activeWeek" placeholder="Choose Week"
                ng-change="allPicks.weekChange()">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
        </select>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                <h5>UserName</h5></th>
            <th>
                <h5>Game of the Week</h5></th>
            <th>
                <h5>Game Two</h5></th>
            <th>
                <h5>Game Three</h5></th>
            <th>
                <h5>Game Four</h5></th>
            <th>
                <h5>Game Five</h5></th>
            <th>
                <h5>Game Six</h5></th>
            <th>
                <h5>Game Seven</h5></th>
            <th>
                <h5>Game Eight</h5></th>
            <th>
                <h5>Game Nine</h5></th>
            <th>
                <h5>Game Ten</h5></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="picks in allPicks.weeklyPicks">
            <td>UserName</td>
            <td>Testing</td>
        </tr>
    </tbody>
</table>