
<label><h5>Choose Week</h5></label>

<select style="color:black" id="week" type="text" ng-model="allPicks.activeWeek" ng-change="allPicks.weekChanged()" placeholder="Choose Week">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
            <option>Week Four</option>
            <option>Week Five</option>
            <option>Week Six</option>
            <option>Week Seven</option>
            <option>Week Eight</option>
            <option>Week Nine</option>
            <option>Week Ten</option>
            <option>Week Eleven</option>
            <option>Week Twelve</option>
            <option>Week Thirteen</option>
        </select>

<table class="u-full-width">
    <thead>
        <td>
            Week
        </td>
        <td>
            UserName
        </td>
        <td>
            GOTW
        </td>
        <td>
            Game Two
        </td>
        <td>
            Game Three
        </td>
        <td>
            Game Four
        </td>
        <td>
            Game Five
        </td>
        <td>
            Game Six
        </td>
        <td>
            Game Seven
        </td>
        <td>
            Game Eight
        </td>
        <td>
            Game Nine
        </td>
        <td>
            Game Ten
        </td>
    </thead>
    <tbody>
        <tr ng-repeat="picks in allPicks.gotPicks">
            <td>
                {{picks.week}}
            </td>
            <td>
                {{picks.username}}
            </td>
            
            <td ng-class="{classy: picks.gotwlock[0]}">
                 {{picks.gotw}}
            </td>
            <td ng-class="{classy: picks.gametwolock[0]}">
                {{picks.gametwo}}
            </td>
             <td ng-class="{classy: picks.gamethreelock[0]}">
                {{picks.gamethree}}
            </td>
             <td ng-class="{classy: picks.gamefourlock[0]}">
                {{picks.gamefour}}
            </td>
             <td ng-class="{classy: picks.gamefivelock[0]}">
                {{picks.gamefive}}
            </td>
             <td ng-class="{classy: picks.gamesixlock[0]}">
                {{picks.gamesix}}
            </td>
             <td ng-class="{classy: picks.gamesevenlock[0]}">
                {{picks.gameseven}}
            </td>
             <td ng-class="{classy: picks.gameeightlock[0]}">
                {{picks.gameeight}}
            </td>
             <td ng-class="{classy: picks.gameninelock[0]}">
                {{picks.gamenine}}
            </td>
             <td ng-class="{classy: picks.gametenlock[0]}">
                {{picks.gameten}}
            </td>
        </tr>
    </tbody>
</table>