.facebook-button {
  background: url('FBLogo.png') left center no-repeat;
  height: 58px;
  width: 58px;  
}

.google-button {
  background: url('btn_google+_signin_dark_normal_web.png') left center no-repeat;
  height: 44px;
  width: 194px;  
}