<div class="container text-center">
    <div class="row">

        <toolbar class="primary tall" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="toolbar-tools toolbar-tools-bottom">
                <h4> Register a new account </h4>
            </div>
        </toolbar>

        <div layout="row" class="toolbar-tools toolbar-tools-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form name="registerForm">
                    <h5>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="rc.credentials.email" placeholder="email" required/>
                    </div>
                    
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="rc.credentials.password" placeholder="password" required/>
                    </div>
                    
                    <div id="submit">
                        <button class="btn btn-default btn-lg" ng-click="rc.register()" aria-label="login" ng-disabled="rc.registerForm.$invalid()">Register</button>
                    </div>
                    </h5>
                </form>

                <div ng-show="rc.error" class="warn" layout="row" layout-fill layout-padding layout-margin>
                    <p>{{ register.error }}</p>
                </div>
            
                <div layout="row" layout-align="center">
                    <h5><a class="md-button" href="/login">Already a user?</a></h5>
                </div>
            </div>
            <div class="col-md-4"></div>


        </div>
    </div>
</div>