<table class="table table-condensed">
   <label><h5>Choose Week:</h5></label>
    <select style="color:black" id="week" type="text" ng-model="gamesList.activeWeek" ng-change="gamesList.weekChanged()">
         
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
        </select>
    <thead>
        <tr>
            <th>
                <h3>Visitor Team</h3></th>
            <th>
                <h3>Home Team</h3></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in gamesList.testing">
            <td>
                <h6>{{game.awayspread}} {{game.awayteam}} </h6></td>
            <td>
                <h6> {{game.hometeam}} {{game.homespread}}</h6></td>
        </tr>
    </tbody>
</table>