<table class="table table-condensed table-striped">
   <label>Choose Week:</label>
    <select style="color:black" id="week" type="text" ng-model="gamesList.activeWeek" ng-change="gamesList.weekChanged()">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
            <option>Week Four</option>
            <option>Week Five</option>
            <option>Week Six</option>
            <option>Week Seven</option>
            <option>Week Eight</option>
            <option>Week Nine</option>
            <option>Week Ten</option>
            <option>Week Eleven</option>
            <option>Week Twelve</option>
            <option>Week Thirteen</option>
        </select>
    <thead>
        <tr>
            <th>
                Visitor Team</th>
            <th>
                Home Team</th>
            <th>
                Game Date</th>
        </tr>
    </thead>
    <tbody>
       <tr ng-repeat="game in gamesList.testing | filter: {gotw: 'yes'} ">
            <td class="classy">
                 {{game.awayspread}} {{game.awayteam}}</td>
            <td class="classy">
                 {{game.hometeam}} {{game.homespread}}</td>
            <td class="classy">
                 {{game.gameTime | date:'MM/dd/yyyy @ h:mma' : '-700'}}</td>
        </tr>
        <tr ng-repeat="game in gamesList.testing | filter: {gotw: 'No'} |  orderBy: 'gameTime' ">
            <td>
                 {{game.awayspread}} {{game.awayteam}}</td>
            <td>
                 {{game.hometeam}} {{game.homespread}}</td>
            <td>
                 {{game.gameTime | date:'MM/dd/yyyy @ h:mma' : '-700'}}</td>
        </tr>
    </tbody>
</table>