<div>
    <h4>Welcome to the Admin Page</h4>
    <ul>
        <li>import files with spreads each week</li>
        <li>import files with scores each week</li>
        <li>choose the week that needs to be picked</li>
    </ul>

    <h4 class="page-header">Upload Games</h4>
    <input type="file" ngf-select ng-model="files" name="file">
    <p></p>
    <button class="btn btn-default" ng-click="admin.gamesOnSave(files)">Submit</button>
    
    <h4 class="page-header">Upload Scores</h4>
    <input type="file" ngf-select ng-model="files" name="file">
    <p></p>
    <button class="btn btn-default" ng-click="admin.scoresOnSave(files)">Submit</button>
 

</div>