<div class="container text-center">
    <h4>Welcome to the Admin Page</h4>

    <h4 class="page-header">Set Active Week</h4>
    <div class="form-group">

        <select style="color:black" id="week" type="text" ng-model="adminL.activeWeek" placeholder="Week">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
            <option>Week Four</option>
            <option>Week Five</option>
            <option>Week Six</option>
            <option>Week Seven</option>
            <option>Week Eight</option>
            <option>Week Nine</option>
            <option>Week Ten</option>
            <option>Week Eleven</option>
            <option>Week Twelve</option>
            <option>Week Thirteen</option>
            <option>Week Fourteen</option>
            <option>Championship Week</option>
        </select>
        <p></p>
        <button class="button-primary" ng-click="adminL.updateWeek()">Submit</button>
    </div>
    <div ng-repeat="admin in adminL.savedActiveWeek">
        The Current Active Week: {{admin.week}}
    </div>

    <h4 class="page-header">Upload Games</h4>
    <input type="file" ngf-select ng-model="files" name="file">
    <p></p>
    <button class="button-primary" ng-click="adminL.gamesOnSave(files)">Upload</button>

    <h4 class="page-header">Upload Scores</h4>
    <input type="file" ngf-select ng-model="files" name="file">
    <p></p>
    <button class="button-primary" ng-click="adminL.scoresOnSave(files)">Submit</button>  
    
    <h4 class="page-header">Teams that Covered</h4>
    <p></p>
    <button class="button-primary" ng-click="adminL.teamsThatCovered()">Submit</button>   
    
    <h4 class="page-header">Calculate Weekly Scores</h4>
    <p></p>
    <button class="button-primary" ng-click="adminL.weeklyScores()">Submit</button>      
      
    <h4 class="page-header">Calculate Overall Totals</h4>
    <p></p>
    <button class="button-primary" ng-click="adminL.overallTotals()">Submit</button>      
       
</div>