<table class="table table-condensed">
    <label><h5>Choose Week</h5></label>

<select style="color:black" id="week" type="text" ng-model="scoreList.activeWeek" ng-change="scoreList.weekChanged()" placeholder="Choose Week">
            <option>Week One</option>
            <option>Week Two</option>
            <option>Week Three</option>
        </select>
        <br />
    <thead>
        <tr>
            <th>
                <h6>Vistor Score</h6></th>
            <th>
                <h6>Visitor Team</h6></th>
            <th>
                <h6>Home Team</h6></th>
            <th>
                <h6>Home Score</h6></th>
            <th> 
                <h6>Game spread </h6></th> 
            <th> 
                <h6>Team that Covered</h6></th>       
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="score in scoreList.testing">
            <td>
                <h6>{{score.awayscore}}</h6></td>
            <td>
                <h6>{{score.awayteam}}</h6></td>
            <td>
                <h6>{{score.hometeam}}</h6></td>
            <td>
                <h6>{{score.homescore}}</h6></td>
            <td>
                <h6>{{score.awayscore - score.homescore}}</h6></td>
            <td>
                <h6>yes</h6></td>
        </tr>
    </tbody>
</table>